<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue code</title>
    <script src="./lib/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- 这个是我们的v -->
    <div id="app">
        <div>
            <label>Id:
                <input type="text" v-model="id">
            </label>
            <label>Name:
                <input type="text" v-model="name">
            </label>
            <input type="button" value="添加" @click=add>
        </div>
        <p v-for="i in list" :key="i.id">
            <input type="checkbox">
            {{i.name}}
        </p>
    </div>

    <script type="text/javascript">
        //创建一个vue实例
        //这就是我们的vm调度者
        var vm=new Vue({
            el: '#app',//表示当前我们new的这个实例要控制在页面上的那个区域
            //这就是我们的mv层
            data:{ //存放的是el属性用到的数据
                id:'',
                name:'',
                list:[
                    {id:1,name:"tom"},
                    {id:2,name:"jerry"},
                    {id:3,name:"ui"},
                    {id:4,name:"tt"}
                ]
                
            },
            methods:{
                add(){
                    this.list.push({id:this.id,name:this.name})
                }
            }
        })
    </script>
    
    
</body>
</html>